@import "tailwindcss";

html {
  color-scheme: dark;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


}

body {
  background-color: #030718;
}

/* Markdown editor styles */

#editor a {
  color: #428bca;
  text-decoration: none;
}

#editor a:hover {
  text-decoration: underline;
  color: #317ca9
}

#editor ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
  /* bullets */
  list-style-type: disc;
}

#editor p > code {
  border: 2px solid #27272a;
  font-style: monospace normal;
  background-color: #52525b;
  border-radius: 5px;
}

#editor ol {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px;

  list-style-type: decimal;
}

#editor hr {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 0;
  border-top: 1px solid #525252;
}

#editor h1 {
  font-size: 2rem;
}

#editor h2 {
  font-size: 1.5rem;
}

#editor h3 {
  font-size: 1.2rem;
}

#editor h4 {
  font-size: 1rem;
}

#editor h5 {
  font-size: 0.8rem;
}

#editor h6 {
  font-size: 0.6rem;
}

#editor blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee
}

#editor p {
  margin: 0 0 10px;
}

/* Code without class pre */
#editor pre:has( code:not([class]) ) {
  border: 2px solid rgb(40, 40, 40);
  font-style: monospace normal;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  padding: 0.5em;
  
}

/* En tu archivo CSS */
#editor table {
  border-collapse: collapse; /* Para que los bordes de las celdas se fusionen */
  width: 100%; /* O el ancho que prefieras */
}

#editor th, td {
  border: 1px solid #111; /* Borde para las celdas */
  padding: 8px; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
}

#editor th {
  background-color: #111; /* Color de fondo para las cabeceras */
  border: 2px solid #333;
}

#editor img {
  width: 500px;
}